/* css reset */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* css reset closed */

/* style */

body {
    /* height: 1024px; */
    background-color: #9C835F;
    position: relative;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 37px;
    font-size: 36px;
    color: #F9B23D;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
}

.header img, .game-name {
    padding: 27px;
}

.main-game {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-family: 'open sans', sans-serif;
    font-size: 36px;
    font-weight: 700;
    margin-top: 60px;
}

.center-element {
    /* margin-top: 440px; */
    position: absolute;
    top: 520px;
}

.vs-mark {
    font-size: 144px;
    color: #BD0000;
    font-family: 'open-sans', sans-serif;
    font-weight: 700;
}

.info-result {
    text-align: center;
    line-height: 70px;
    position: relative;
    width: 260px;
    height: 150px;
    font-size: 38px;
    background-color: green;
    color: white;
    padding: 40px;
    border-radius: 10px;
    transform: rotate(-28.87deg);
}

.refresh {
    position: absolute;
    top : 950px;
    margin-bottom: 100px;
}

h2 {
    text-align: center;
    margin-bottom: 100px;
}

.option-player1 , .option-player2 {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
    align-content: center;
    gap : 80px;
}


.option-player1 > div , .option-player2 > div {
    margin-right : auto;
    margin-left: auto;
}

.option-player1 div > img:hover, .option-player2 > div:hover, .refresh > img:hover {
    cursor: pointer;
    transform: scale(110%);
}


/* add class for JS */

.clicked-change {
    /* background-size: 223px 204px; */
    width: 223px;
    height: 204px;
    background-color: #C4C4C4;
    border-radius: 30px;
    text-align: center;
    line-height: 100px;
        
}

.clicked-change > img {
    text-align: center;
    line-height: center;
}